 
/* Desktops and laptops ----------- */
@media (max-width : 1285px) {
/* Styles */
 
}
 @media (max-width : 1280px) {
/* Styles */
.warp-inner{ width:92%; margin:0 auto;}
.warp-inner-content{width:92%; margin:0 auto; padding:0;}
  
}
 
 


/* iPads (portrait and landscape) ----------- */
@media (max-width : 1024px) {
/* Styles */
   
	 
}

@media only all and  (max-width : 850px) {
.left-content-PT{ float:left; width:58%;}
#sidebar{width:200px; float:right; 
} 
.sticky-scroll-box{	padding:0px;  width:200px; 
} 	
	
	
.sign-up-form{ position: static; top:0px; right:0; display:none} 
.mobile-sign-up{ float:right; display:block; }
.form-signup{ width:350px; background:#f9f7f7; border-top:2px solid #333; border-bottom:2px solid #333;padding:10px 10px 10px 10px; margin:0;}
}

@media only all and  (max-width : 768px) {
 
}


@media only all and  (max-width : 700px) { 
ul.col3{ width:360px; margin: auto}
ul.col3 li{ margin:30px  auto; padding:0 ; float:none; display:block; width:100%; }

/* COL 2 FULL */
.col2-full{ width:100%; float:none;}
.app-box{ margin:50px 0 0 0}
.about-box{ margin:0; padding:0 0% 0 0}

.our-c-txt{ width:98%; padding:100px 0; margin:0 }


}

@media only all and  (max-width : 640px) {
.left-content-PT{ float:none; width:100%; margin-top:40px;  }
#sidebar{ width:100%; float:none; background:#333;  float:none; margin:0 auto; padding:0;} 
 .fixed {
	position: static; 
	z-index:99999;
}
.sticky-scroll-box{	padding:0px; width:100%;  margin:0 auto;  float:none; display:block; 
}	
	
.main-warp{ padding:76px 0 0 0}	
.banner-txt h2{ margin:0 0 0 0px; text-align:center; font-size:30px; }
.banner{ margin-bottom:20px}	
   /* login */
.form-style{ width:96%; margin:0 auto;}

/* header */
.menu-left{ float:left; margin:18px 0 0 0}
.logo-left{ float:left; margin:0 0 0 5px}
 .logo-left img{ width:73px;}
.top-menu-right{ float:right; padding:0px 0 0 0}

span.help-btn{ margin:0; padding:0; display:block; text-align:right }
span.help-btn a{ margin:0 2px; padding:0px 0px; font-size:13px; color:#222222; font-weight:300}
span.become-btn{margin:0; padding:2px 0 0 0;  color:#fff; display:inline-block}
span.become-btn a{margin:0px 0 2px; display:inline-block; padding:4px 8px; font-size:13px; color:#fff; background:#e92270; font-weight:300; border-radius:6px;}	
 }



	
/* Smartphones (portrait and landscape) ----------- */
@media (max-width : 480px) {
/* FOOTER */ 
.footer-dark{ text-align:center}
 .footer1 a{ display:block; margin:0 auto; float:none; text-align:center; padding:20px 00px; background:#e92270; color:#fff; font-size:24px; text-transform: uppercase; }
.footer2{ margin:0; text-align: center;  padding:20px 0; border-top:1px solid #404040; border-bottom:1px solid #404040} 

.footer3 span{ display:inline-block;  }
.footer3 a{ display:block; padding:4px 0; margin:0 45px 0 0; font-size:14px;}
.footer3 a:hover{ color:#777777}

.footer4{ background:#131313; padding:20px 0}
.f-left{ float:left; font-size:14px;}
.f-left a{ font-size:14px;}   
.f-left a:hover{ font-size:14px; color:#777777} 
.f-right{ float:right} 
.f-right a{ margin:0; padding:0}
.f-right a:hover{ opacity:0.6}	
	
ul.col3{ width:100%; margin: auto} 
.mobile-sign-up{ right:5%px; left:5%;  position:absolute; bottom:-30px; width:90%; }	
.mobile-sign-up a{ display:block; width:100%; padding:15px 0}
   
}

/* Smartphones (landscape) ----------- */
@media (max-width : 420px) {
	.footer2 img{ width:130px; } 

.f-left{ float:none; font-size:14px;}  
 .f-right{ float:none; padding:10px 0 0 0; font-size:14px;}    
}

/* Smartphones (portrait) ----------- */
@media (max-width : 320px) {
/* Styles */
 

}

 