<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>NoQueue</title>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'/>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>

    <link rel="stylesheet" href="/static2/internal/css/style.css" type='text/css'/>
    <link rel="stylesheet" href="/static2/internal/css/phone-style.css" type='text/css' media="screen"/>
    <link rel="stylesheet" href="/static2/external/intl-tel-input/css/intlTelInput.css" type='text/css'>
</head>

<body>

<!-- header -->
<div class="header">
    <div class="warp-inner">
        <div class="logo-left"><a href="/"><img src="/static2/internal/img/logo.png" alt="NoQueue"/></a></div>
        <div class="top-menu-right">
            <span class="help-btn"><a href="/open/login.htm">Sign In</a></span>
            <span class="become-btn"><a href="/open/register.htm">Business Register</a></span>
        </div>

        <div class="clearFix"></div>
    </div>
</div>
<!-- header end -->
<div class="main-warp">

    <!-- content -->
    <div class="content">
        <div class="warp-inner">
            <div class="admin-main">
                <div class="admin-content">
                    <div class="register-c">
                        <h3>We're sorry...</h3>
                        <p>Bad request received. <sup>(400)</sup></p>
                        <p>
                            Hit back button on the browser or
                            <a href="/open/login.htm" class="add-btn">click to login</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content end -->


    <!-- Footer -->
    <div class="footer">
        <div class="warp-inner ">
            <img src="/static2/internal/img/footer-img.jpg" class="img100"/>
        </div>
        <div class="footer-dark">
            <div class="footer4">
                <div class="warp-inner">
                    <div class="f-left">&copy; 2021 NoQueue | <a href="https://noqapp.com/#/pages/privacy">Privacy</a> | <a href="https://noqapp.com/#/pages/terms">Terms</a></div>

                    <div class="clearFix"></div>
                </div>
            </div>
        </div>

    </div>
    <!-- Footer End -->

</div>


</body>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/static2/external/intl-tel-input/js/intlTelInput.js"></script>
</html>
